<div class="container">
    <div class="d-flex flex-column flex-md-row">
        <div class="gh-header-actions mt-0 mt-md-2 mb-3 mb-md-0 ml-0 flex-md-order-1 flex-shrink-0 d-flex flex-items-start">
  
             
        <details class="details-reset details-overlay details-overlay-dark float-right">
            <summary class="btn btn-sm btn-primary m-0 ml-0 ml-md-2" data-ga-click="Issues, create new issue, view:issue_show location:issue_header style:button logged_in:false" role="button">
            
            New issue
            </summary>
        
        </details>
        </div>
  
      <h1 class="gh-header-title mb-2 lh-condensed f1 mr-0 flex-auto break-word">
        <span class="js-issue-title markdown-title">
         {{issue?.title}}
        </span>
        <span class="f1-light color-text-tertiary">#{{issue?.number}}</span>
      </h1>
    </div>

    <div class="d-flex flex-items-center flex-wrap mt-0 gh-header-meta">
        <div class="flex-shrink-0 mb-2 flex-self-start flex-md-self-center">
            <span title="Status: Open" class="State State--open ">
            <svg height="16" class="octicon octicon-issue-opened" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zm-.25-6.25a.75.75 0 00-1.5 0v3.5a.75.75 0 001.5 0v-3.5z"></path></svg> 
            {{issue?.state}}
    </span>
        </div>
    
    </div>
    
    
    <div class="row mx-4 my-4">
        <div class="col-8 border" style="white-space: pre-wrap">
            {{issue?.body}}
        </div>
        <div class="col-4">
            <div class="discussion-sidebar-item sidebar-labels js-discussion-sidebar-item">
                <div class="discussion-sidebar-heading text-bold">
                  Labels
                </div>
              
                <div class="js-issue-labels labels css-truncate">
                    <div class="sidebar-labels-style box-shadow-none width-full d-block IssueLabel mr-4" style=" display: inline-block !important; width: auto !important;" *ngFor="let lbl of issue?.labels" [ngStyle]="{'background':'#'+lbl.color}">
                        {{lbl.name}}
                    </div>
                </div>
              
              </div>
        </div>
    </div>
</div>