<div class="container">
    <div>
        <div>
        </div>
        
        <div class="d-flex flex-justify-between mb-md-3 flex-column-reverse flex-md-row flex-items-end">
            <div class="d-flex flex-justify-start flex-auto width-full my-4 my-md-0" role="search">
          <form class="subnav-search width-full ml-0" data-pjax="true" role="search" aria-label="Issues" action="/angular/angular/issues" accept-charset="UTF-8" method="get">
                <input type="text" (keyup)="applyFilter($event)" class="form-control form-control subnav-search-input input-contrast width-full" placeholder="Search all issues" aria-label="Search all issues">
                <svg class="octicon octicon-search subnav-search-icon" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path></svg>
          </form>    <div class="ml-2 pl-2 d-none d-md-flex">
                
          <nav class="subnav-links float-left d-flex no-wrap" aria-label="Issue">
            <a selected_link="repo_issues" class="js-selected-navigation-item subnav-item" data-selected-links="repo_labels /angular/angular/labels" href="/angular/angular/labels">
              <svg class="octicon octicon-tag" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"></path></svg>
              Labels
          </a>  <a selected_link="repo_issues" class="js-selected-navigation-item subnav-item" data-selected-links="repo_milestones /angular/angular/milestones" href="/angular/angular/milestones">
              <svg class="octicon octicon-milestone" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.75 0a.75.75 0 01.75.75V3h3.634c.414 0 .814.147 1.13.414l2.07 1.75a1.75 1.75 0 010 2.672l-2.07 1.75a1.75 1.75 0 01-1.13.414H8.5v5.25a.75.75 0 11-1.5 0V10H2.75A1.75 1.75 0 011 8.25v-3.5C1 3.784 1.784 3 2.75 3H7V.75A.75.75 0 017.75 0zm0 8.5h4.384a.25.25 0 00.161-.06l2.07-1.75a.25.25 0 000-.38l-2.07-1.75a.25.25 0 00-.161-.06H2.75a.25.25 0 00-.25.25v3.5c0 .138.112.25.25.25h5z"></path></svg>
              Milestones
          </a></nav>
          
              </div>
            </div>
            <div class="ml-3 d-flex flex-justify-between width-full width-md-auto" data-pjax="">
              <span class="d-md-none">
                
          <nav class="subnav-links float-left d-flex no-wrap" aria-label="Issue">
            <a selected_link="repo_issues" class="js-selected-navigation-item subnav-item" data-selected-links="repo_labels /angular/angular/labels" href="/angular/angular/labels">
              <svg class="octicon octicon-tag" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"></path></svg>
              Labels
                <span title="205" class="Counter d-none d-md-inline">205</span>
          </a>  <a selected_link="repo_issues" class="js-selected-navigation-item subnav-item" data-selected-links="repo_milestones /angular/angular/milestones" href="/angular/angular/milestones">
              <svg class="octicon octicon-milestone" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.75 0a.75.75 0 01.75.75V3h3.634c.414 0 .814.147 1.13.414l2.07 1.75a1.75 1.75 0 010 2.672l-2.07 1.75a1.75 1.75 0 01-1.13.414H8.5v5.25a.75.75 0 11-1.5 0V10H2.75A1.75 1.75 0 011 8.25v-3.5C1 3.784 1.784 3 2.75 3H7V.75A.75.75 0 017.75 0zm0 8.5h4.384a.25.25 0 00.161-.06l2.07-1.75a.25.25 0 000-.38l-2.07-1.75a.25.25 0 00-.161-.06H2.75a.25.25 0 00-.25.25v3.5c0 .138.112.25.25.25h5z"></path></svg>
              Milestones
                <span title="10" class="Counter d-none d-md-inline">10</span>
          </a></nav>
          
              </span>
                      
          <details class="details-reset details-overlay details-overlay-dark float-right">
            <summary class="btn btn-primary" data-ga-click="Issues, create new issue, view:issue_show location:issue_header style:button logged_in:false" role="button">
              
              New issue
            </summary>
  
          </details>
            </div>
          </div>


        <div >
          
            <div class="Box-header d-flex flex-justify-between" id="js-issues-toolbar">

                <div class="table-list-filters flex-auto d-flex min-width-0">
                  <div class="flex-auto d-none d-lg-block no-wrap">
                    
              <div class="table-list-header-toggle states flex-auto pl-0">
                  <a href="/angular/angular/issues?q=is%3Aopen+is%3Aissue" class="btn-link selected" data-ga-click="Issues, Table state, Open">
                    <svg class="octicon octicon-issue-opened" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zm-.25-6.25a.75.75 0 00-1.5 0v3.5a.75.75 0 001.5 0v-3.5z"></path></svg>
                    {{lst?.total_count}} Open
                  </a>
              
                  <a href="/angular/angular/issues?q=is%3Aissue+is%3Aclosed" class="btn-link " data-ga-click="Issues, Table state, Closed">
                    <svg class="octicon octicon-check" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>
                    0 Closed
                  </a>
              </div>
              
                  </div>
              
                    <div class="table-list-header-toggle no-wrap d-flex flex-auto flex-justify-between flex-sm-justify-start flex-lg-justify-end">
                      
                <details class="details-reset details-overlay d-inline-block position-relative px-3" id="author-select-menu">
                  <summary class="btn-link" title="Author" data-hotkey="u" aria-haspopup="menu" data-ga-click="Issues, Table filter, Author" role="button">
                    Author
                    <span class="dropdown-caret hide-sm"></span>
                  </summary>
              
                </details>
              
                        
              <details class="details-reset details-overlay d-inline-block position-relative px-3" id="label-select-menu">
                <summary class="btn-link" title="Label" data-hotkey="l" aria-haspopup="menu" data-ga-click="Issues, Table filter, Label" role="button">
                  Label
                  <span class="dropdown-caret hide-sm"></span>
                </summary>
              </details>
              
            <span class="d-none d-md-inline">
                          
              <details class="details-reset details-overlay d-inline-block position-relative px-3" id="project-select-menu">
                <summary class="btn-link" data-hotkey="p" aria-haspopup="menu" data-ga-click="Issues, Table filter, Projects" role="button">
                  Projects
                  <span class="dropdown-caret hide-sm"></span>
                </summary>
      
              </details>
              
                          
              <details class="details-reset details-overlay d-inline-block position-relative px-3" id="milestones-select-menu">
                <summary class="btn-link" data-hotkey="m" aria-haspopup="menu" data-ga-click="Issues, Table filter, Milestones" role="button">
                  Milestones
                  <span class="dropdown-caret hide-sm"></span>
                </summary>
              </details>
              
                      </span>
                      
              <details class="details-reset details-overlay d-inline-block position-relative px-3" id="assignees-select-menu">
                <summary class="btn-link" title="Assignees" data-hotkey="a" aria-haspopup="menu" data-ga-click="Issues, Table filter, Assignee" role="button">
                  Assignee
                  <span class="dropdown-caret hide-sm"></span>
                </summary>
              </details>
              
                      
              <details class="details-reset details-overlay d-inline-block position-relative pr-3 pr-sm-0 px-3" id="sort-select-menu">
                <summary class="btn-link" title="Sort" aria-haspopup="menu" data-ga-click="Issues, Table filter, Sort" role="button">
                  Sort<span></span>
                  <span class="dropdown-caret hide-sm"></span>
                </summary>
              </details>
              
                    </div>
                </div>
              
              </div>
            <!-- <div class="list-group">
                <a class="list-group-item" style="display: block;" *ngFor="let itm of dataList"  [routerLink]="['../detail/'+itm.number]">
                    <div>{{itm.title}}</div>
                    <div class="ellapsis">#{{itm.number}} {{itm.body}}</div>
                </a>
            </div> -->

            <div>
                <div *ngFor="let itm of dataList"  class="Box-row Box-row--focus-gray p-0 mt-0 js-navigation-item js-issue-row navigation-focus" data-id="849899552">
                    <div class="d-flex Box-row--drag-hide position-relative">
                  
                      <div class="flex-shrink-0 pt-2 pl-3">
                        <span class="tooltipped tooltipped-e" aria-label="Open issue">
                          <svg class="octicon octicon-issue-opened open" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zm-.25-6.25a.75.75 0 00-1.5 0v3.5a.75.75 0 001.5 0v-3.5z"></path></svg>
                        </span>
                      </div>
                  
                      <!-- Issue title column -->
                      <div class="flex-auto min-width-0 p-2 pr-3 pr-md-2">
                  
                        <a id="issue_41446_link" [routerLink]="['../detail/'+itm.number]" class="Link--primary v-align-middle no-underline h4 js-navigation-open markdown-title" data-hovercard-type="issue" data-hovercard-url="/angular/angular/issues/41446/hovercard">
                            {{itm.title}}
                        </a>
                        <span class="labels lh-default d-block d-md-inline">
                            <a class="d-inline-block IssueLabel mr-2 text-white"  [ngStyle]="{'background':'#'+lbl.color}"
                            title="comp: language-service" href="#" *ngFor="let lbl of itm.labels">{{lbl.name}}</a>
                        </span>

                        <div class="mt-1 text-small color-text-secondary">
                          <span class="opened-by">
                            #{{itm.number}} opened by 
                              <a class="Link--muted" title="Open issues created by thirumanidev" data-hovercard-type="user" data-hovercard-url="/users/thirumanidev/hovercard" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="#">
                                {{itm.user.login}}
                            </a>
                              
                          </span>
                  
                          <span class="d-none d-md-inline">
                  
                  
                          
                          </span>
                  
                        </div>
                      </div>
                  
                      <div class="flex-shrink-0 col-3 pt-2 text-right pr-3 no-wrap d-flex hide-sm ">
                  
                        <span class="ml-2 flex-1 flex-shrink-0">
                        </span>
                  
                        <span class="ml-2 flex-1 flex-shrink-0">
                          <div class="AvatarStack AvatarStack--right ml-2 flex-1 flex-shrink-0 ">
                            <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-multiline tooltipped-align-right-1 mt-1" aria-label="Assigned to ">
                            </div>
                          </div>
                        </span>
                  
                        <span class="ml-2 flex-1 flex-shrink-0">
                            <a href="/angular/angular/issues/41446" class="Link--muted" aria-label="2 comments">
                              <svg class="octicon octicon-comment v-align-middle" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M2.75 2.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25H2.75zM1 2.75C1 1.784 1.784 1 2.75 1h10.5c.966 0 1.75.784 1.75 1.75v7.5A1.75 1.75 0 0113.25 12H9.06l-2.573 2.573A1.457 1.457 0 014 13.543V12H2.75A1.75 1.75 0 011 10.25v-7.5z"></path></svg>
                              <span class="text-small text-bold">{{itm.comments}}</span>
                            </a>
                        </span>
                      </div>
                        <a class="d-block d-md-none position-absolute top-0 bottom-0 left-0 right-0" aria-label="Link to Issue. How to initialize values for different datatypes?" href="/angular/angular/issues/41446"></a>
                    </div>
                  </div>
            </div>
                
        </div>
        
        <div>
            <div class="d-flex mt-2 justify-content-center">
                <div  class="btn btn-primary mr-2" (click)="beforePage()">Previous</div>
                <div  class="btn  mr-2" [ngClass]="{'btn-primary':pg==page, 'btn-secondary':pg!= page}" *ngFor="let pg of showPage"  (click)="pageNumber(pg)">{{pg}}</div>
                <div  class="btn btn-primary mr-2"  (click)="nextPage()">Next</div>
            </div>
        </div>

    </div>
</div>